
simple_video/.vs/simple_video/v16/.suo
simple_video/.vs/simple_video/v16/Browse.VC.db
simple_video/.vs/simple_video/v16/Browse.VC.opendb
simple_video/.vs/simple_video/v16/ipch/AutoPCH/153c7dc6ce771d0e/WXIMAGEPANEL.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/20b371e5b772211a/CAPP.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/28126f04bab7727d/IMGPANEL.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/8283c2bb66b8adfe/IMGPANEL.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/935296e79a72c743/CMAIN.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/c62879b70eea369d/WXIMAGEPANEL.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/cd23e9d13eb77d00/CMAIN.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/e2b60d7d572c6fc8/SIMPLE_VIDEO.ipch
simple_video/Debug/simple_video.exe
simple_video/Debug/simple_video.ilk
simple_video/Debug/simple_video.pdb
simple_video/simple_video.sln
simple_video/simple_video/Debug/cApp.obj
simple_video/simple_video/Debug/cmain.new.obj.enc
simple_video/simple_video/Debug/cmain.obj
simple_video/simple_video/Debug/imgpanel.obj
simple_video/simple_video/Debug/simple_video.log
simple_video/simple_video/Debug/simple_video.tlog/CL.command.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/CL.read.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/CL.write.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/link.command.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/link.read.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/link.write.1.tlog
simple_video/simple_video/Debug/simple_video.tlog/simple_video.lastbuildstate
simple_video/simple_video/Debug/vc142.idb
simple_video/simple_video/Debug/vc142.pdb
simple_video/simple_video/Debug/wxImagePanel.obj
simple_video/simple_video/simple_video.vcxproj
simple_video/simple_video/simple_video.vcxproj.filters
simple_video/simple_video/simple_video.vcxproj.user
simple_video/.vs/simple_video/v16/ipch/AutoPCH/addde729e2732a1/ENUMLIST.ipch
simple_video/simple_video/Debug/EnumList.obj
*.obj
simple_video/simple_video/Debug/simple_video.tlog/unsuccessfulbuild
simple_video/simple_video/Debug/EList.obj
simple_video/simple_video/Debug/assetmng.obj
simple_video/.vs/simple_video/v16/ipch/AutoPCH/c8be4b447a76ea67/ASSETMNG.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/a23c623ae168391f/ELIST.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/6e060c7a9ad2a19c/ENTRY.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/63fb3fa619034d55/IMGFRAME.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/63bc7befcfd22bf6/IMGFRAME.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/5ed6b8453abf0b0f/ENTRY.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/28ad54b88ac368e4/ASSETMNG.ipch
simple_video/.vs/simple_video/v16/ipch/AutoPCH/a23c623ae168391f/ELIST.ipch
